@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--color-iridium: #181818;
	--color-rose: #e7d2cc;
	--color-salmon: #eb9e8f;
}

@utility scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}
